---
title: Про кафедру
---
{% extends "layouts/_layout.html" %}

{% block content %}


<!-- begin content -->
<div class="content">
	<div class="content__container">

		<!-- begin content__center -->
		<div class="content__center">
			<h2 class="content__name">Професорсько викладацький склад</h2>

			<div class="person">
				<ul class="person__list">

					<li class="person__item">

						<div class="person__photo"><img src="img/person/LIV.jpg" alt="" class="preson__img"></div>
						<div class="person__whois">
							<div class="person__name"><a class="person__name-link" href="liv.html">Лебедєва Ірина Валеріївна</a></div>
							<div class="person__info">Доктор фізико-математичних наук</div>
							<div class="person__mail"><a class="person__mail-link" href="mailto: lebedeva@ukr.net">Надіслати E-mail</a></div>
							<div class="person__site"><a class="person__site-link" href="#">lebedeva.com</a></div>
							<div class="person__info">Кімната 236</div>
						</div>
					</li>

					<li class="person__item">
						<div class="person__photo"><img src="img/person/LIV.jpg" alt="" class="preson__img"></div>
						<div class="person__whois">
							<div class="person__name"><a class="person__name-link" href="liv.html">Лебедєва Ірина Валеріївна</a></div>
							<div class="person__info">Доктор фізико-математичних наук</div>
							<div class="person__mail"><a class="person__mail-link" href="mailto: lebedeva@ukr.net">Надіслати E-mail</a></div>
							<div class="person__site"><a class="person__site-link" href="#">lebedeva.com</a></div>
							<div class="person__info">Кімната 236</div>
						</div>
					</li>

					<li class="person__item">
						<div class="person__photo"><img src="img/person/LIV.jpg" alt="" class="preson__img"></div>
						<div class="person__whois">
							<div class="person__name"><a class="person__name-link" href="liv.html">Лебедєва Ірина Валеріївна</a></div>
							<div class="person__info">Доктор фізико-математичних наук</div>
							<div class="person__mail"><a class="person__mail-link" href="mailto: lebedeva@ukr.net">Надіслати E-mail</a></div>
							<div class="person__site"><a class="person__site-link" href="#">lebedeva.com</a></div>
							<div class="person__info">Кімната 236</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
		<!-- end content__center -->

	</div>
</div>
<!-- end content -->



{% endblock %}