<!-- begin header -->
<div class="header">
	<div class="header__container">
		<div class="logo logo__left"><a href="#" class="logo__link"><img src="img/logo/logo1.png" alt="" class="logo_image"></a></div>

		<div class="header__title">
			<div class="header__text"><a href="main.html" class="header__title-link">САЙТ КАФЕДРИ ТЕОРЕТИЧНОЇ ТА ПРИКЛАДНОЇ МЕХАНІКИ<br>
				<span class="header__span span">КИЇВСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ІМЕНІ <nobr>ТАРАСА ШЕВЧЕНКО</nobr></span></a>
			</div>
		</div>

		<a href="#" class="logo__link"><div class="logo logo__right"><img src="img/logo/logo2.png" alt="" class="logo_image"></a></div>

	</div>
	
</div>
<!-- end header -->