
<!-- begin hero -->
<div class="hero">
	<div class="hero__container">
		<!-- begin nav -->
		<div class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="main.html" class="nav__link">Головна</a></li>
					<li class="nav__item"><a href="about.html" class="nav__link">Про Кафедру</a></li>
					<li class="nav__item"><a href="applicants.html" class="nav__link">Абітурієнтам</a></li>
					<li class="nav__item"><a href="students.html" class="nav__link">Студентам</a></li>
					<li class="nav__item"><a href="lectors.html" class="nav__link">Викладачам</a></li>
					<li class="nav__item"><a href="science.html" class="nav__link">Наукові праці</a></li>
				</ul>
		</div>
		<!-- end nav -->

		<!-- begin carousel -->
		<div class="carousel">
			<div class="carousel__container">
				<div class="carousel__item"><img class="carousel__img" src="img/carousel/1.jpg" alt=""></div>
				<div class="carousel__item"><img class="carousel__img" src="img/carousel/2.jpg" alt=""></div>
				<div class="carousel__item"><img class="carousel__img" src="img/carousel/3.jpg" alt=""></div>
			</div>
		</div>
		<!-- end carousel -->
	</div>
</div>
<!-- end hero -->